html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.body {
    font-family: $defaultFont;
    font-weight: $normalWeight;
}

// =============== HEADER ================
.header {
    background-color: $primaryColor;
    color: $secondaryColor;
    padding: 1rem $gutter;

    @at-root #{&}__title {
        font-size: 2rem;
        font-weight: $normalWeight;
    }

    @at-root #{&}__subtitle {
        font-size: 1.05rem;
        font-weight: $normalWeight;
    }
}

.nav {
    background-color: $secondaryColor;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    @at-root #{&}__item {
        float: left;
        width: 25%;
        border-right: 1px solid rgba(0, 0, 0, 0.3);

        @at-root #{&}--active {
            background-color: darken($secondaryColor, 20%);
        }
    }

    @at-root #{&}__item:last-child {
        border-right: none;
    }

    @at-root #{&}__link {
        display: block;
        text-align: center;
        color: $primaryColor;
        font-weight: $boldWeight;
        text-decoration: none;
        padding: .5rem 0;
        transition: background 0.75s ease, color 0.75s ease;
    }

    @at-root #{&}__link:hover {
        color: $secondaryColor;
        background-color: $primaryColor;
    }
}

// =============== MAIN  ================

.main {
    .banner {
        width: 100%;
        @at-root #{&}__img {
            width: 100%;
        }
    }

    .title {
        font-size: 2rem;
        color: $primaryColor;
        margin: 1rem 0 0 $gutter;
    }

    .fadeout {
        height: 2px;
        border: none;
        background: linear-gradient(to right, rgba(66,78,100,1) 0%,rgba(66,78,100,0.99) 1%,rgba(66,78,100,0) 100%);
        margin: 0 $gutter;
    }

    .cars {
        width: 100% - $gutterdbl;
        margin: 0 $gutter;
       
        @at-root #{&}__img {
            width: 100%;            
        }

        @at-root #{&}__price {
            color: $primaryColor;
            text-align: center;
        }
    }

    .blog {
        width: 100%;

        @at-root #{&}__title {
            color: lighten($primaryColor, 10);
            font-size: 1.5rem;
            margin: .75rem $gutter;
        }

        .article {
            margin:.5rem $gutter;
            @at-root #{&}__title {
                color: lighten($primaryColor, 20);
                font-size: 1.2rem;
            }

            @at-root #{&}__paragraph {
                line-height: 130%;
                color: $fontColor;
            }
        }
    }
}

// =============== FOOTER ================

.footer {
    width: 100%;
    background-color: $primaryColor;

    @at-root #{&}__copyright {
        text-align: center;
        color: $secondaryColor;
        padding: .75rem 0;
        font-size: .9rem;
    }

    @at-root #{&}__contact-number {
        color: $secondaryColor;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}